﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Cat Facts</h1>
    <p class="lead">These are random cat facts from https://catfact.ninja which is a Web API, and the facts are returned as Json.</p>
    <p><a href="~/CatFact/Random" class="btn btn-primary btn-lg">Random Cat Fact &raquo;</a></p>
</div>
