﻿@model RandomCatFact.Models.CatFact
@{
    ViewBag.Title = "Random Cat Fact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h2>@Model.Fact</h2>

    <p><a href="~/CatFact/Random" class="btn btn-primary btn-lg">Another Random Cat Fact &raquo;</a></p>

</div>